* {
  margin: 0;
  padding: 0;
}

#app {
  border: 1px solid black;
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
}

.title {
  padding: 10px;
  text-align: right;
}


