* {
  margin: 0;
  padding: 0;
}

.pointer-color-wheel {
  border: 2px solid white;
  width: 5px;
  height: 5px;
}

#app {
 
}

body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Start of header*/
.header {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

.title {
  padding: 10px;
  text-align: right;
}
/* End of header */
/*-----------------Main Container-----------------------*/
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#container section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --------Start of palette container and form on left-------- */
.content {
  padding: 20px;
  flex: 1 1 300px;
  box-sizing: border-box;
}

.palette-intro {
  padding: 40px;
  font-size: 30px;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

label {
  flex: 1 1 150px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

input[type="text"] {
  flex: 2 1 200px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

input + label {
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

form > fieldset {
  margin-bottom: 20px;
}
/* End of palette container */
/* Start of Color Wheel container on right */

.color-picker {
  padding: 40px 20px;
  flex: 1 1 300px;
  box-sizing: border-box;
}

#container .color-wheel {
  margin: 10px;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  padding: 10px;
  border: 5px solid black;
  box-shadow: 5px 5px 10px 15px rgb(175, 171, 171);
}

.pickedColor {
  border: 2px solid black;
  width: 10%;
  height: 30px;
}

.saturation {
  border: 2px solid black;
  margin: 10px;
  height: 35px;
  border-radius: 10px;
}

.lightening {
  border: 2px solid black;
  height: 35px;
  border-radius: 10px;
}

.slider {
  z-index: 2;
  width: 10px;
  height: 35px;
  border: 2px solid red;
  border-radius: 30%;
  background-color: rgba(255, 255, 0, 50%);
  position: relative;
  top: -2px;
  left: -1px;
}

#other-color-values {
  margin: 10px;
}
/*----footer-------------------------------------*/
.footer {
  border: 2px solid black;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.legal-terms {
  font-size: medium;
  font-weight: 100;
  padding: 0.35rem;
}
.icons {
  display: flex;
  align-content: center;
  justify-content: center;
  column-gap: 0.5rem;
}

@media (max-width: 768px) {
  #container {
   flex-direction: column;
  }

  .content, .color-picker{
    flex: 1 1 100%;
  }
}